:root {
    --bg-color: #fbf6f3;
    --darker-bg-color: #f3efec;
    --darkest-bg-color: #d3cecc;
    --text-color: #130c09;
    --primary-color: #ee7322;
    --accent-color: #f1b290;

    --default-transition-time: 0.3s;
}

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.maincard {
    border-style: solid;
    margin: 10px;
    padding: 1rem;
    width: 40%;
    border-radius: 15px;
    animation-name: cardunhoveranim;
    animation-duration: .2s;
    border-color: var(--accent-color);
    border-width: 4px;
}

.maincard:hover {
    animation-name: cardhoveranim;
    animation-duration: .2s;
    padding: 1.5rem;
    border-color: var(--primary-color);
}

@keyframes cardhoveranim {
  from {
    padding: 1rem;
    border-color: var(--accent-color);
    }
  to {
    padding: 1.5rem;
    border-color: var(--primary-color);
    }
}

@keyframes cardunhoveranim {
  from {
    padding: 1.5rem;
    border-color: var(--primary-color);
    }
  to {
    padding: 1rem;
    border-color: var(--accent-color);
    }
}

.mainlink {
    text-decoration: none;
}

.maintext {
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

body {
    background-color: var(--bg-color);
    display: contents;
}

/*header*/
/*header är ungefär 4rem hög*/
#top_progress_bar_container {
    z-index: 1001;
    width: 100%;
    height: 0.3rem;
    position: fixed;
}
#top_progress_bar {
    width: 0%;
    height: 100%;
    background-color: var(--primary-color);
}

.headercard {
    width: 100%;
}

.headerspacer {
    width: 5rem;
}

.slogan {
    color: var(--primary-color);
    margin-left: 12rem;
}

header {
    z-index: 1000;
    min-width: 100%;
    position: fixed;
    background-color: var(--darker-bg-color);
    border-bottom: var(--darkest-bg-color) solid 2px;
    padding-top: 0.3rem; /*för att progress bar ska få plats*/
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

.titel {
    color: var(--primary-color);
    text-align: center;
    margin: 2rem;
}

.header_titel_container {
    text-decoration: none;
}

.archiveentry {
    border-top: var(--darkest-bg-color);
    border-bottom: var(--darkest-bg-color);
    border-width: 1px;
    display: flex;
    flex-direction: row;
}

.vecka {
    border-color: var(--darkest-bg-color);
    border: var(--darkest-bg-color);
    border-width: 1rem;
}

.header_titel_card {
    width: 15rem;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: var(--primary-color);
    transition: 0.3s ease;
}
.header_titel_card:hover {
    color: var(--primary-color);
    font-size: 1.7rem;
}

.header_card {
    width: 100%;
    text-decoration: none;
    color: var(--accent-color);
    display: flex;
    justify-content: center;
}

/*content på sidan*/
.main {
    margin-top: 7rem;
    margin-left: 15%;
    margin-right: 15%;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*footer*/
.footer {
    background-color: var(--darker-bg-color);
    border-top: var(--darkest-bg-color) solid 2px;
    display: flex;
    justify-content: left;
}
.footer_text {
    text-align: center;
    padding: 0.7em;
}